@import "./variables.scss";

body,
html {
  padding: 0;
  margin: 0;
}

/*
 * VISIBLE
 */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xl {
  display: none;
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
  .visible-xs {
    display: initial;
  }
}

@media (min-width: $breakpoint-sm+1) and (max-width: $breakpoint-md) {
  .visible-sm {
    display: initial;
  }
}

@media (min-width: $breakpoint-md+1) and (max-width: $breakpoint-lg) {
  .visible-md {
    display: initial;
  }
}

@media (min-width: $breakpoint-lg+1) and (max-width: $breakpoint-xl) {
  .visible-lg {
    display: initial;
  }
}

@media (min-width: $breakpoint-xl+1) {
  .visible-xl {
    display: initial;
  }
}

/*
 * HIDDEN
 */
@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
  .hidden-lg {
    display: none;
  }
}

@media (min-width: $breakpoint-xl) {
  .hidden-xl {
    display: none;
  }
}
